<h1>Event</h1>

<h3>Title</h3>
<h5><%= @event.title %></h5>

<h3>Description</h3>
<p>
	<%= @event.description %>
</p>

<h3>Location</h3>
<p>
	<%= @event.location %>
</p>

<h3>Time</h3>
<p>
	<%= @event.date %>
</p>

<h3>Creator</h3>
<p>
	<%= @event.creator.name %>
</p>

<h3>Attend?</h3>
<%= form_for(@attendance, url: attendances_path) do |f| %>
	<%= hidden_field_tag :event_id, @event.id %>
	<%= f.submit "Attend", class: "btn btn-primary" %>
<% end %>

<% if @attendants.any? %>
	<h3>Attendants</h3>
	<ul>
		<% @attendants.each do |attendant| %>
			<li><%= attendant.name %></li>
		<% end %>
	</ul>
<% end %>