<h1>Event</h1>

<h3>Title</h3>
<h5><%= @event.title %></h5>

<h3>Description</h3>
<p>
	<%= @event.description %>
</p>

<h3>Location</h3>
<p>
	<%= @event.location %>
</p>

<h3>Time</h3>
<p>
	<%= @event.date %>
</p>

<h3>Creator</h3>
<p>
	<%= @event.creator.name %>
</p>